.card{
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding: 16px 24px;
  background: #fff;
}

.card-body{
  font-size: 20px;
}

.card-body h1{
  font-weight: 600;
}

.card-content{
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
  row-gap: 24px;
}

.credit-card{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.card-section{
  width: 570px;
  height: 316px;
  filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 10px 10px) drop-shadow(rgba(0, 0, 0, 0.1) 0px 3px 6px) drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 2px);
  background-color: #1fc69d;
  background-image: url("https://static.wixstatic.com/shapes/610b66_69366bd4c21f42efb891bb01a462296b.svg"), linear-gradient(rgb(25, 123, 189), rgb(51, 145, 208));
  background-size: cover, cover;
  aspect-ratio: 320 / 206;
  border-radius: 2rem;
  color: #ffffff;
}

.details{
  display: grid;
  grid-template-rows: 93px 93px 94px;
  row-gap: 12px;
  flex-grow: 1;
  border-left: 1px solid #ebebeb;
  background: #eef2fe;
  border-radius: 2rem;
}

.card-deatils-1,
.card-deatils-2,
.card-deatils-3{
  padding: 20px 16px ;
  display: flex;
  justify-content: space-between;
}



.card-deatils-1 h6{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}


.card-deatils-1 span .amount{
  font-size: 30px;
  font-weight: 700;
}

.card-deatils-1 span .currency{
  margin-right: 4px;
  font-size: 18px;
  font-weight: 600;
}

.add-money{
  display: flex;
  align-items: flex-end;
}

.add-money button{
  padding: 10px;
  background: #197bbd;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-size: 16px;
  font-weight: 600;
}

.add-money button .add-sign{
  margin-right: 6px;
}




.card-deatils-2 h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.card-deatils-2 span .amount {
  font-size: 24px;
  font-weight: 700;
}

.card-deatils-2 span .currency {
  margin-right: 4px;
  font-size: 18px;
  font-weight: 600;
}






.card-deatils-3 h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.card-deatils-3 span .amount {
  font-size: 20px;
  font-weight: 700;
}

.card-deatils-3 span .currency {
  margin-right: 4px;
  font-size: 18px;
  font-weight: 600;
}